<div class="container">
  <div class="row"><div class="col-xs-6">
    <h3>List of my Gyms that has user tokens (<%= @list_tokens.size %>) </h3>
  </div></div>
  <div class="row">
    <ul>
      <% @list_tokens.each do |tokens, gym| %>
        <div class="col-xs-6">
          <li>
            <h4><strong><u><%= gym.name %></u></strong></h4> tokens (<%= gym.tokens.where(name: "disactive").size %>)
            <%= link_to "Check Tokens", show_manager_path(gym), class: "btn btn-primary" %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
