<div class="container">
  <h2>Register Address</h2>

  <div id="work_address">
    <%= simple_form_for @useraddress, url: root_path do |f2| %>
      <%= f2.input :address, label: 'Work Address', required: true %>
    <% end %>
  </div>
  <div id="home_address">
    <%= simple_form_for @useraddress, url: root_path do |f3| %>
      <%= f3.input :address, label: 'Home Address', required: true %>
    <% end %>
  </div>
</div>
